.advert {
    padding-top: 6.5rem;
    padding-bottom: 3.5rem;
}
.advert .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    grid-gap: 20px;
}
.advert .container div {
    height: 150px; 
    border: 1px solid #c6b8b8;
    padding:  20px 25px 10px;
    text-align: center;
    position: relative;
    background-color: #fbfbfb;
    border-radius: 10px;
}
.advert .container div h5 {
    color: rgb(5,148,5);
}
.advert .container div img {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-70%);
    width: 150px;
    height: 120px;

}
.advert .container div p {
    font-size: 20px;
}
