.poster {
    background-color: #f7f7f7;
}
.poster .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}
.poster .container div {
    height: 400px;
    color:beige;
}
.poster .container div:nth-child(1) {
    background-color: #006ce4;
    border-radius: 40%;
    padding: 10px;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.poster .container div:nth-child(1) div h3 {
    background-image: linear-gradient(
    -225deg,
    white 0%,
    #141961 50%,
    #fc4552 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    display: inline-block;
}
@keyframes textclip {
    to {
    background-position: 300% center;
    }
}
.poster .container div:nth-child(1) div ul {
    display: inline-block;
    height: 50px;
    overflow: hidden;
    font-size: 28px;
    padding: 0;
}
@media (max-width: 540px) {
    .poster .container div:nth-child(1) div ul{
        font-size: 22px;
    }
}
.poster .container div:nth-child(1) div ul li {
    height: 45px;
    text-align: center;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-name: top-down;
} 
.poster .container div img {
    width: 100%;
    height: 100%;
} 
.poster .container div:nth-child(1) div ul li span {
    text-decoration: underline 3px solid #ff5733;
}
@keyframes top-down {
    0%{
        transform: translateY(0px);
    }
    14%{
        transform: translateY(-45px);
    }
    30%{
        transform: translateY(-90px);
    }
    44%{
        transform: translateY(-135px);
    }
    58%{
        transform: translateY(-180px);
    }
    72%{
        transform: translateY(-225px);
    }
    86% {
        transform: translateY(-270px);
    }
    100%{
        transform: translateY(-315px);
    }
    
}
