[role=button] {
    cursor: pointer;
    color: black;
    padding: 20px;
    background-color: white;
    border-radius: 50%;
    margin-right: -12px;
    margin-left: -1px;
    border: 2px solid white;
}
.swiper-android .swiper-slide, .swiper-wrapper {
    max-height: 1000px;
}
.card-img, .card-img-bottom, .card-img-top {
    height: 250px;
    width: 100%;
    transition: 0.8s;
}
.card-img, .card-img-bottom, .card-img-top:hover {
    transform: scale(1.06,1.06);
}
.topright {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 18px;
}
.topright svg {
    fill: rgba(108,105,105,0.6);
    transition: 0.4s;
}
.topright:hover svg {
    fill: red;
    
}
.see-all {
    position:absolute;
    top: 40px;
    right: 70px;
    padding: 10px;
    border: 2px solid var(--main-color);
    color: white;
    border-radius: 10px;
    background: var(--main-color);
}
.cpppp {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}
/* @media (min-width: 768px) {
    .cpppp {
        width: 750px;
    }
}
/* Medium */
/*@media (min-width: 992px) {
    .cpppp {
        width: 970px;
    }
} */
/* Large */
/* @media (min-width: 1200px) {
    .cpppp {
        width: 1300px;
    }
} */