.drop-down {
    height: 100%;
}
.hidden {
    display: none;
}
.visible {
    width: 300px;
    padding: 10px;
    position: absolute; 
    margin-top: 10px;
} 
.drop-down button{
    border: none;
    padding:20px 12px;
    font-size: 20px;
} 
.drop-down div {
    background-color: white;
    border-radius: 10px;
}
.choose {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
.choose div button {
    font-size: 20px;
    border: 2px solid var(--main-color);
    background-color: var(--main-color); 
    color: white;
    padding: 10px;
    border-radius: 50%;
}
.choose div span {
    margin: 0 20px;
}