.gallery{
  padding-top: 30px;
        
}

.carousel .thumb{
  width: 5%;
  height: 50px;
}
.carousel{text-align: center;
  margin-top: -15px;}

.carousel .slider-wrapper {
  width: 80%;
  margin-bottom: -4px;
}
.carousel .carousel-status {
  margin-right: 150px;}
  .carousel.carousel-slider .control-arrow {
    margin-right: 140px;
    margin-left: 140px;
  }
    /* .carousel.carousel-slider .control-arrow {
      margin-right: 140px;
      margin-left: 140px; */