.footer {
    background-color: #f1f1f1;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 35px;
    padding-bottom: 10px;
}
.footer .container img {
    object-fit: cover;
    height: 100px;
}
.footer .container a {
    color: black;
    display: block;
    padding-top: 10px; 
}
.footer .container p {
    color: var(--main-color);
}
.footer .container h5 {
    color: black;
    font-size: 18px;
}
.footer .container a:hover {
    color:#fd2424;
}
.footer .container div{
    margin-bottom: 17px;
}
.footer .container div:nth-child(2) {
    font-weight: 500;
}
.footer .container div:nth-child(5) a {
    display: inline-block;
    padding-right: 12px;
    transition: 0.7s;
}
.footer .container div:nth-child(5) a:hover {
    transform: scale(1.4,1.4);
}
